<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet"
            href="{{ url_for('static', filename='css/index_style.css') }}">
        <title>donation page</title>
    </head>
    <body>
        <header>
            <nav>
                <ul>
                    <li><a href="#donation"><i class="fas fa-code"></i>
                        Donation</a></li>
                    <li><a href="#about"><i class="fas fa-user"></i>
                            About</a></li>
                </ul>
            </nav>
            <a href="#contact" class="cta-button">Hire Me</a>
        </header>
        <main>
            <section id="donation">
                <article>
                    <header>¡Support our cause!</header>
                    <p>Your donation helps us continue our mission.</p>
                    <div class="row">
                        <button onclick="window.location.href='#'">Donate now</button>
                        <img src=" {{ url_for('static', filename='images/Funny-cannabis-plant-illustration.svg') }}" alt="Cartoon marijuana plant holding a peace sign.">
                    </div>
                    
                </article>
            </section>
            <section id="about">
                <h2>About Me</h2>
                <p>lorem ipsum dolor sit am.</p>
            </section>
        </main>
        <section id="contact">
            <h2>Contact Me</h2>
            <p>Email: donation.page@example.com</p>
            <p>Phone: 555-555-5555</p>
        </section>
        <footer>
            <p>&copy; 2024 donation page</p>
        </footer>
        <script src="https://kit.fontawesome.com/yourcode.js"
            crossorigin="anonymous"></script>
    </body>
</html>