<!DOCTYPE html>
<html lang="en">
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Kawaii Landing Page</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/index_style.css') }}">
    </head>
<body>
    <div>
        <span class="kawaii-emoji">๐ฅฐ</span>
        <h1>Welcome to Kawaii Land!</h1>
        <p>This is a super cute and kawaii landing page.</p>
        <p>Enjoy the cuteness! ๐ถ๐ป</p>
    </div>
</body>
</html>